.photo-container img {
    width: 35rem;
    height: 35rem;
    padding-top: 2rem;
}

.photo-container .description {
    width: 35rem;
    height: 35rem;
    padding: 2rem 3rem 0rem 3rem;
    align-items: center;
}

.photo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid;
    border-color: black;
}
